*{
margin:0;
padding:0;
}

body{
    background-color: rgb(233, 233, 233);
    color: white;
    font-size: 50px;
    
}

.nav-bar{
   background-color: rgb(1, 1, 58);
   text-align: center;
   padding-bottom: 20px;
   margin-bottom: 200px;
}
.nav{

position: relative;
display: inline-block;

}

.nav a{
text-decoration: none;
padding: 15px;
color:rgb(255, 255, 255);
font-size: 20px;
    }



h1{
    font-size: 50px;
    color: black;
    text-align: center;
}

footer{
    position:fixed;
    left: 0;
    bottom:0;
    margin: 0px auto;
    width: 100%;
    background-color: black;
    text-align: center;
    font-size: 15px;
}

.bienvenue{
    text-align: center;
    color:rgb(0, 0, 0)
    
}